<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <h1>Korrelation vs Kausalität</h1>
    </div>
    <div class="text">
        <h2>Korrelation und Kausalität – das komplizierte Verhältnis</h2>
        <p>
            Menschen neigen dazu, Ereignisse, die gleichzeitig auftreten, miteinander zu verknüpfen. Das nennt man Korrelation. Oft vermuten wir dahinter eine Kausalität (Ursache-Wirkung-Beziehung), wie im Beispiel: Ein Laptop fällt vom Tisch, es gibt einen Knall – hier besteht tatsächlich eine kausale Verbindung.
            Grundsätzlich gilt:

            Kausalität erzeugt Korrelation, aber nicht jede Korrelation bedeutet Kausalität.
            Unser Gehirn vermutet bei Korrelation schnell eine Ursache, obwohl das oft falsch ist.
            Deshalb sind wir manchmal skeptischer als nötig, weil wir wissen, dass Korrelation nicht automatisch Kausalität bedeutet.</p>

        <button onclick="location.href=window.location.href + 'quiz'">Spiel starten</button>
    </div>


</body>
</html>