body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    color: #333;
}
.navbar {
    background: linear-gradient(90deg, #0044cc, #0066ff);
    padding: 25px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
    color: white;
    font-size: 48px;
    letter-spacing: 1px;
    margin: 0;
}
.text {
    width: auto;
    margin: 20px;
    padding: 25px;
    font-size: 20px;
    line-height: 1.6;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


 /*src:https://getcssscan.com/css-buttons-examples*/
button {
background-color: #EA4C89;
border-radius: 8px;
border-style: none;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 500;
height: 40px;
line-height: 20px;
list-style: none;
margin: 0;
outline: none;
padding: 10px 16px;
position: relative;
text-align: center;
text-decoration: none;
transition: color 100ms;
vertical-align: baseline;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

button:hover,
button:focus {
    background-color: #F082AC;
}


